<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>InriaSans-Regular.ttf</string>
		<string>InriaSans-Bold.ttf</string>
		<string>InriaSans-Light.ttf</string>
		<string>InriaSans-Italic.ttf</string>
		<string>InriaSans-BoldItalic.ttf</string>
		<string>InriaSans-LightItalic.ttf</string>
	</array>

	<!-- URL Schemes for OAuth callbacks -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Supabase OAuth callback -->
				<string>com.techieblossom.Budget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Google Sign In reversed client ID (iOS Client) -->
				<string>com.googleusercontent.apps.880808744457-ggrurqeqih9oh6msnk19jri55vj4gpl0</string>
			</array>
		</dict>
	</array>

	<!-- Google Sign In Client ID (iOS Client) -->
	<key>GIDClientID</key>
	<string>880808744457-ggrurqeqih9oh6msnk19jri55vj4gpl0.apps.googleusercontent.com</string>

	<!-- Query schemes for Google Sign In -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googleauth</string>
	</array>
</dict>
</plist>
